### In each of the scenarios, find possible shortcomings of the data sources to answer the given question. What could be done to either adjust the analysis or reframe the question so that you can answer it accurately?

In [1]:
import pandas as pd
import numpy as np

#### Data Source: Amsterdam availability data scraped from AirBnB on December 24th. Question: What are the popular neighborhoods in Amsterdam?

The shortcoming of this data source is that the data was pulled during Christmas, so a general central tendency and variance can't be measured. Additionally, AirBnB is too much of a biased sample because of the kinds of people who use the service will not be representative of a diverse population of locals and tourists, not to mention renters vs. buyers.

The analysis can be changed to answer the question by also acquiring city-wide real estate/rental transactions.

The analysis can answer of the question of the most popular Amsterdam neighborhoods on AirBnB during Christmas and possibly other holidays which cause people to engage the similar activities

#### Data Source: Mental health services use on September 12, 2001 in San Francisco, CA and New York City, NY. Question: How do patterns of mental health service use vary between cities?

The shortcoming of this data source is that a tramatizing event in NYC happened the day before which occurred before the nation's eyes. Additionally, these cities are not representative of cities throughout the nation because they are very metropolitan and have a geographically higher density of medical services.

The analysis can be changed to include other major cities between the coasts in the data source and the records especially need to occur far away from national disasters.

The question can be reframed to ask how did mental health services vary between a major city which was the victim and a major city exposed to footage.

#### Data Source: Armenian Pub Survey. Question: What are the most common reasons Armenians visit local pubs?

The 1st red flag is that the survey was conducted by students and the title is referring to the whole country. We should look into the demographics they collected. In my experience students tend to investigate other students.

In [2]:
pub_survey = pd.read_csv('armenian_pubs.csv')
pub_survey.head()

,Timestamp,Age,Gender,Income,Occupation,Fav_Pub,WTS,Freq,Prim_Imp,Sec_Imp,Stratum,Lifestyle,Occasions
0,2017/02/25 10:52:03 PM GMT+4,19,Male,100000.0,Student,Station,2000.0,Several times in a month,Environment,Menu,Capital,Nightlife,Hang outs with friends
1,2017/02/25 10:53:19 PM GMT+4,19,Female,50000.0,Student,Calumet,2000.0,rarely (once two week/or a month),Music,Pricing,Capital,Adventure/traveling/exploring,Hang outs with friends
2,2017/02/25 10:54:05 PM GMT+4,20,Male,100000.0,Student,Liberty,3000.0,rarely (once two week/or a month),Environment,Music,Capital,"Busy(student life, work)",Hang outs with friends
3,2017/02/25 10:55:09 PM GMT+4,18,Male,0.0,Student,Calumet,3000.0,Several times in a month,Environment,Music,Capital,Art,Hang outs with friends
4,2017/02/25 10:55:38 PM GMT+4,19,Female,130000.0,Student + working,Liberty,10000.0,rarely (once two week/or a month),Pricing,Environment,Capital,NaN,Hang outs with friends

In [3]:
print(type(pub_survey.loc[3, ' Occupation']))
pub_survey[' Occupation']

<class 'str'>

0                Student
1                Student
2                Student
3                Student
4      Student + working
5                Student
6                Student
7                Student
8      Student + working
9                Student
10               Student
11               Student
12               Student
13               Working
14               Student
15               Student
16               Student
17               Student
18               Student
19     Student + working
20               Student
21               Student
22               Student
23     Student + working
24               Student
25               Student
26               Student
27               Student
28               Student
29               Student
             ...
145              Student
146    Student + working
147              Student
148              Student
149    Student + working
150              Student
151    Student + working
152              Student
153              Student
154              Student
155              Student
156              Student
157              Student
158              Student
159              Student
160              Student
161              Student
162              Student
163              Student
164              Student
165              Student
166              Student
167             Working
168    Student + working
169    Student + working
170              Student
171              Student
172    Student + working
173              Student
174    Student + working
Name:  Occupation, Length: 175, dtype: object

The data in the rows may end up being messy given that row 167 has a space after "Working" and the column key has a space before "Occupation." Also, the rows appear to contain many students. Let's see how many rows contain the word "student."

In [7]:
students_surveyed = 0
for item in pub_survey[' Occupation']:
    if item.lower().find('student') != -1:
        students_surveyed+= 1
print('The number of students surveyed was at least {} out of {}'.format(students_surveyed, len(pub_survey)))

The number of students surveyed was at least 162 out of 175

This survey is, as expected, overwhemlingly represented by students. The name of the survey should be changed to reflect this large proportion of students